name: IntegrateFromUpstream
on:
  schedule:
    - cron: 0 * * * *
jobs:
  IFU:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: 
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote add upstream https://github.com/pytorch/pytorch
          git fetch upstream master
          git merge upstream/master 
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch-suffix: timestamp
